[color]
    ui = true
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pp = stash pop
    ski = stash --keep-index
    pr = pull --rebase
    rb = "!f() { git fetch -p && git rebase origin/`git rev-parse --abbrev-ref HEAD`; }; f"
    cia = commit --amend
    dm = diff master
    chuck-norris = push -f
[user]
    email = replace-this
    name = Maxime Buffa
[core]
    editor = subl --wait
[push]
    default = simple

