[color]
    ui = true
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pp = stash pop
    pr = pull --rebase
    cia = commit --amend
    chuck-norris = push -f
    dm = diff master
[user]
    email = replace-this
    name = Maxime Buffa
[core]
    editor = subl --wait
[push]
    default = simple

