[color]
    ui = true
[alias]
    cia = commit --amend
    dm = diff master
    fp = fetch -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pr = pull --rebase
    sa = stash apply
    ski = stash --keep-index
    sp = stash pop
[user]
    email = mbuffa@users.noreply.github.com
    name = Maxime Buffa
[core]
    editor = nano

