[color]
    ui = true
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    dm = diff master
    fp = fetch -p
    pp = stash pop
    pr = pull --rebase
    # Rebase on associated remote branch.
    rb = "!f() { git fetch && git rebase origin/`git rev-parse --abbrev-ref HEAD`; }; f"
    cia = commit --amend
    ski = stash --keep-index
    chuck-norris = push -f
[user]
    email = mbuffa@gmail.com
    name = Maxime Buffa
[core]
    editor = subl3 --wait --new-window
[push]
    default = simple

